pandas
tiktoken
scikit-learn
python-dotenv
matplotlib
plotly
langchain==0.0.227
openai==0.27.8
pypdf
faiss-cpu
#pymssql
IPython
ipykernel
azure-cognitiveservices-speech
mplcursors
docarray
#azure-ai-vision
